In [53]:
 # Dependencies and Setup
import pandas as pd
import numpy as np

In [54]:
# Load file
pymoli_csv = "Resources/HeroesOfPymoli.csv"

In [86]:
# Read file
pymoli_df = pd.read_csv(pymoli_csv)

In [60]:
pymoli_df.describe()

       Purchase_ID         Age     Item_ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [56]:
#view data sample
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [57]:
#get list of columns
pymoli_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [59]:
#reanme columns - remove spaces
pymoli_df = pymoli_df.rename(columns={"Purchase ID":"Purchase_ID", "Item ID":"Item_ID", "Item Name":"Item_Name"})
pymoli_df.head()

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [34]:
#get player count
pymoli_df.SN.nunique()

576

In [35]:
#Unique Items
Items = pymoli_df.Item_Name.nunique()
print("Item Count: " + str(Items))

Item Count: 179

In [36]:
#average purchase price
avg = pymoli_df.Price.mean()
print("Item Purchase Price (average): " + str(avg))

Item Purchase Price (average): 3.050987179487176

In [37]:
# Total Number of Purchases
total = pymoli_df.Item_Name.count()
print("Total number of Purchases: " + str(total))

Total number of Purchases: 780

In [38]:
#Total Revenue
rev = pymoli_df.Price.sum()
print("Pymoli Total Revenue: " + str(rev))

Pymoli Total Revenue: 2379.77

In [39]:
#Purchasing Analysis
analysis_df = pd.DataFrame({"Item Count": [Items],
                            "Item Purchase Price (average)": [avg],
                            "Total number of Purchases": [total],
                            "Pymoli Total Revenue": [rev]})
analysis_df

,Item Count,Item Purchase Price (average),Total number of Purchases,Pymoli Total Revenue
0,179,3.050987,780,2379.77

In [40]:
pymoli_df.Gender.unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [41]:
#group by gender
gender_groups_df = pymoli_df.groupby(['Gender'])
print(gender_groups_df)
gender_groups_df.count().head(10)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000021A41F7A198>

                       Purchase_ID   SN  Age  Item_ID  Item_Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [89]:
#Set index on Gender
pymoli_gender_df = pymoli_df.set_index("Gender")

In [90]:
#Percentage and Count of Male Players
male_df = pymoli_df.loc["Male"]
male_df
#male_df.count()

KeyError: 'the label [Male] is not in the [index]'

In [ ]:
#Summarize Male Data
Male_summary = pd.DataFrame({"Male Count": [m]})

analysis_df = pd.DataFrame({"Item Count": [Items],
                            "Item Purchase Price (average)": [avg],
                            "Total number of Purchases": [total],
                            "Pymoli Total Revenue": [rev]})
analysis_df

In [75]:
male_count = male_df.count()
male_percent_df = male_count/total
#male_df.describe()
male_percent_df

Purchase_ID    0.835897
SN             0.835897
Age            0.835897
Item_ID        0.835897
Item_Name      0.835897
Price          0.835897
dtype: float64

In [76]:
#Percentage and Count of Female Players
female_df = pymoli_Gender_df.loc["Female"]
female_count = female_df.count()
female_percent = female_count/total
female_count
female_percent

Purchase_ID    0.144872
SN             0.144872
Age            0.144872
Item_ID        0.144872
Item_Name      0.144872
Price          0.144872
dtype: float64

In [ ]:
#Percentage and Count of Other / Non-Disclosed
other_df = pymoli_df.loc["Other / Non-disclosed"]

other_count = other_df.count()
other_percent = other_count/total
other_count
other_percent

In [ ]:
#Purchase Count by gender

In [ ]:
#Average Purchase Price by gender

In [ ]:
#Total Purchase Value by gender

In [ ]:
#Average Purchase Total per Person by Gender

In [ ]:
  #Age demographics
  # Purchase Count
  # Average Purchase Price
  # Total Purchase Value
  # Average Purchase Total per Person by Age Group

In [ ]:
#ID top spenders
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value

In [ ]:
 #Identify the 5 most popular items by purchase count, then list (in a table)
 #Item ID
#Item Name
# Purchase Count
#Item Price
# Total Purchase Value

In [ ]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
#Total Purchase Value